services:
  backend:
    image: 0x1luffy/3-tier-chat-app-kops:backend-v1
    container_name: backend
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 5001
    networks:
      - chat-network
    restart: unless-stopped

  frontend:
    image: 0x1luffy/3-tier-chat-app-kops:frontend-v1
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - chat-network
    restart: unless-stopped

networks:
  chat-network:
    driver: bridge
